version: "3.9"

services:
  sql_server:
    build:
      context: ./sql_m 
      dockerfile: Dockerfile
    volumes:
      - shared_data:/data 

  py_m:
    build:
      context: ./py_m 
      dockerfile: Dockerfile
    volumes:
      - shared_data:/data 
    ports:
      - "5000:5000"  # 將容器的 5000 埠映射到宿主機的 5000 埠

  web_server:
    build:
      context: ./web_m 
      dockerfile: Dockerfile
    volumes:
      - shared_data:/data
    ports:
      - "80:80"  # 將容器的 80 埠映射到宿主機的 80 埠
volumes:
  shared_data:
